@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 260 50% 98%;
		--foreground: 260 55% 5%;
		--muted: 258.11 42.69% 81.21%;
		--muted-foreground: 20 3% 39%;
		--popover: 260 50% 97%;
		--popover-foreground: 260 55% 4%;
		--card: 260 50% 97%;
		--card-foreground: 260 55% 4%;
		--border: 260 2.11% 82.71%;
		--input: 260 22.22% 77.25%;
		--primary: 260 77% 53%;
		--primary-foreground: 0 0% 100%;
		--secondary: 20 77% 53%;
		--secondary-foreground: 0 0% 0%;
		--accent: 140 77% 53%;
		--accent-foreground: 140 77% 13%;
		--destructive: 6 94% 40%;
		--destructive-foreground: 0 0% 100%;
		--ring: 260 77% 53%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 260 58% 3%;
		--foreground: 260 17% 98%;
		--muted: 253.58 42.5% 18.35%;
		--muted-foreground: 20 3% 61%;
		--popover: 260 58% 4%;
		--popover-foreground: 260 17% 99%;
		--card: 260 58% 4%;
		--card-foreground: 260 17% 99%;
		--border: 260 13% 13%;
		--input: 260 13% 13%;
		--primary: 260 77% 53%;
		--primary-foreground: 0 0% 100%;
		--secondary: 20 86.21% 55.36%;
		--secondary-foreground: 0 0% 0%;
		--accent: 140 77% 53%;
		--accent-foreground: 140 77% 13%;
		--destructive: 6 94% 51%;
		--destructive-foreground: 0 0% 100%;
		--ring: 260 77% 53%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		overflow-x: hidden; /* Add this line */
		width: 100%; /* Ensure body takes full width */
	}
}
